.music-toggler:hover {
  * {
    display: block;
  }
}

.nav-buttons {
  display: block;
  width: 100%;
  height: 100%;

  div {
    display: inline-block;
    width: 100px;
    height: 100%;
    // transform: scale(1);
    // transition: all 400ms;

    svg {
      height: 100%;
      width: 40px;
    }
  }
}

.visible {
  display: block;
}

.cta {
  display: block;
  border-radius: 0;
  width: 75%;
  height: 50px;
  transform: scale(0.5);
  // background-color: green;
  position: absolute;
  top: 3%;
  left: 40%;
  transition: all 1200ms;
  z-index: 100;
}

.cta-visible {
  display: flex;
  align-items: center;
  justify-content: center;
  // background-color: green;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 250px;

  // transform: scale(1) translate(var(--cta-button-location-x), 80vh);
  transform: scale(1) translate(0, calc(100vh - 75%)); // we want this to be respective to cta-center-button
  transition: all 1200ms;

  .nav-buttons {
    div {
      position: absolute;
      width: 40px;
      height: 40px;
      transform: translate(100%, 250%) scale(0.01);
      transition: all 200ms;
    }
  }

  .cta-center-button {
    display: block;
    position: absolute;
    transform: translate(-120%, -10%);
    cursor: pointer;

    // &:hover,
    // &:active {
    //   & ~ div {
    //     display: block;

    //     .theme-toggler {
    //       transform: translate(90%, 110%) scale(0.8);
    //       transition: all 400ms;
    //     }
    //     .sound-toggler {
    //       transform: translate(190%, 140%) scale(0.8);
    //       transition: all 400ms;
    //     }
    //     .music-toggler {
    //       transform: translate(250%, 250%) scale(1);
    //       transition: all 400ms;
    //     }
    //   }
    // }
  }
}

.cta-center-button {
  display: none;
  background-color: blue;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  z-index: 100;
}

.display-nav-buttons {
  & ~ div {
    display: block;
    z-index: 99;

    .theme-toggler {
      transform: translate(90%, 110%) scale(0.8);
      transition: all 400ms;
    }
    .sound-toggler {
      transform: translate(190%, 140%) scale(0.8);
      transition: all 400ms;
    }
    .music-toggler {
      transform: translate(250%, 250%) scale(1);
      transition: all 400ms;
    }
  }
}
